/bin/
*.vpp~*
.metadata
*.class
*.graphviz
*.opendb
/SkipList/Debug/
/SkipList/x64/
/SkipList/SkipList/Debug/
/SkipList/SkipList/x64/
*.suo
*.o
SkipList/list
SkipList/SkipListTest.sdf
*.sdf
SkipList/SkipListTest.sdf