/bin/
UML/bin/
*.vpp~*
.metadata
*.class
*.graphviz
*.opendb
*.o
*.suo
*.obj
*.tlog
*.log
*.sdf
**/Debug/
**/x64/
SkipList/list
SkipList/Rapport.*
!SkipList/Rapport.tex
!SkipList/rapport.bib
!SkipList/Rapport.pdf
Game/Rapport.*
!Game/Rapport.tex
!Game/Rapport.bib